body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.header {
	background-color: black;
	height: 24px;
	margin: -16px -20px 0px -30px;
}

.header ul a {
	text-decoration: none;
	color: #a6a6a6;
}

.header ul a:hover {
	color: white;
}

.header_inner li{
	display: inline;
	font-weight: bold;
	margin-right: 10px;
	font-size: 13px;
}

h1 {
	font-size: 40px;
}

button {
	margin-right: 10px;
}

.content {
	margin: 150px 0px 0px 0px;
}

.content_inner {
	text-align: center;
}

.footer {
	margin: 450px 0px 0px 450px;
}

.footer ul a {
	color: #a6a6a6;
}

.footer ul a:hover {
	text-decoration: underline;
}

.footer_inner li{
	display: inline;
	margin-right: 10px;
	font-size: 13px;
}

.eingabe {
	z-index: 1000;
	position: absolute;
	margin: -10px 0px 0px auto;
	
	/** Das ist ein netter simpler CSS Trick! :D **/
	width: 100%;
	text-align: center;
}
